MODE=development

DATABASE_URL=mysql://root:password@127.0.0.1:3306/nugu

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_GOOGLE_REDIRECT_URI=http://127.0.0.1:3000/auth/google/callback

JWT_SECRET=
COOKIE_SECRET=

CORS_ORIGIN=http://127.0.0.1:5173

DEFAULT_REDIRECT_URL=http://127.0.0.1:5173
