{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^([@]?)([a-zA-Z]+)([/]?)(.*)$",
    "^@/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
